<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <form method="post" action="/team">
     Name: <input type="text" name="name"><br/>
     Coach: <input type="text" name="coach"><br/>
     PG: <input type="text" name="pg"><br/>
     SG: <input type="text" name="sg"><br/>
     SF: <input type="text" name="sf"><br/>
     PF: <input type="text" name="pf"><br/>
     C: <input type="text" name="c"><br/>
     <input type="submit" id="submit" />
   </form>
 </body>
</html>


