<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <form action="/team" method="post">
     <table>
       <tr>
         <td>Team Name:</td>
         <td><input type="text" name="name"></td>
       </tr>
       <tr>
         <td>Coach:</td>
         <td><input type="text" name="coach"></td>
       </tr>
       <tr>
         <td>Point Guard:</td>
         <td><input type="text" name="pg"></td>
       </tr>
       <tr>
         <td>Shooting Guard:</td>
         <td><input type="text" name="sg"></td>
       </tr>
       <tr>
         <td>Small Forward:</td>
         <td><input type="text" name="sf"></td>
       </tr>
       <tr>
         <td>Power Forward:</td>
         <td><input type="text" name="pf"></td>
       </tr>
       <tr>
         <td>Center:</td>
         <td><input type="text" name="c"></td>
       </tr>
       <tr>
         <td><input type="submit" value="submit"></td>
       </tr>
     </table>
   </form>


 </body>
</html>
