<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <form class="" action="/team" method="post">
     <label for="name">Name:</label>

    <p><input type="text" name="name" id="name" /></p>
     <label for="coach">Coach:</label>

    <p><input type="text" name="coach" id="coach" /></p>
     <label for="pg">pg:</label>

    <p><input type="text" name="pg" id="pg" /></p>
     <label for="sg">sg:</label>

    <p><input type="text" name="sg" id="sg" /></p>
     <label for="sf">sf:</label>

    <p><input type="text" name="sf" id="sf" /></p>
     <label for="pf">pf:</label>

    <p><input type="text" name="pf" id="pf" /></p>
     <label for="c">c:</label>

    <p><input type="text" name="c" id="c" /></p>

    <input type="submit" value="Submit"/>

   </form>
 </body>
</html>
