<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>

   <!--
   Update the team.erb template so when you post to this form, it displays the name of the team and each member of the team.
   
   displays the basketball team name in the browser
   displays the coach's name in the browser
   displays the point guard's name in the browser
   displays the power forward's name in the browser
   displays the shooting gaurd's name in the browser
   displays the center's name in the browser
   -->



 </body>
</html>
